RewriteEngine On

# Legacy asset aliases
RewriteRule ^st-ms/(.*)$ assets/stms/$1 [L]
RewriteRule ^cdn-ms/(.*)$ assets/stms/$1 [L]
RewriteRule ^fonts\.gstatic\.com/(.*)$ assets/fonts/files/$1 [L]
RewriteRule ^fonts\.googleapis\.com/(.*)$ assets/fonts/css/$1 [L]

# Redirect /foo.html -> /foo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} \.html$
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Pretty URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?route=$1 [QSA,L]
